body {margin: 0;}
/* HTML Elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Container */
.container-div {
  background-color: black;
  background-image: url("../images/added/CurvedSky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Content Container */
.calendar-container {
  background-color: #e0ebf0;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 75%;
}

/* Main Content */
.calendar-container img {
  max-width: 95%;
  margin-bottom: 20px;
}