/* HTML Elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Container */
.container-div {
  background-color: black;
  background-image: url("../images/added/CurvedSky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Content Container */
.contact-container {
  background-color: #e0ebf0;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 75%;
}

/* Main Content */
.contact-address, .contact-hours {
  margin-bottom: 30px;
}

.contact-flex {
  display: flex;
  margin: 30px;
  text-align: left;
}

.contact-summary {
  margin: 50px;
}

@media only screen and (max-width: 768px) {
  
  iframe {
    display: none;
  }

  .contact-flex {
    display: block;
  }
}