/* CONTACT US PAGE STUFF */
body {margin: 0;}

.heading {
    text-align: center;
}
#map {
    margin: auto;
    width: 75%;
    height: 400px;
    background: black;
}
.contactTable {
    width: 75%;
    margin: auto;
    text-align: center;
}
.temp {
    color: red;
}
.strike {
    text-decoration: line-through;
    text-decoration-color: red;
}
.bold {
    font-weight: 900;
}