.footer-div {
  background-color: black;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  text-align: center;
}

.footer-item {
  color:#f6c83a;
  margin: auto;
}

.social-bar {
  display: inline-block;
  margin: auto;
  overflow: hidden;
}

.social-bar a {
  text-decoration: none;
}

.social-bar img {
  height: 50px; 
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  width: 50px;
}

.social-bar img:hover {
  background-color: #4e2074;
}