.footerDiv {
  text-align: center;
  background-color: black;
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.footerItem {
  margin: auto;
  color:#f6c83a;
}
.socialBar {
  list-style: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: black;

 
}
.socialBar li {display: inline-block}
.socialBar li img {height: 50px; width: 50px;}
.socialBar li a {
  display: block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.socialBar li a:hover {background-color: white;}