/* HTML Elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Container */
.container-div {
  background-color: black;
  width: 100%;
}

/* Main Background */
.opening-div {
  background-attachment: fixed;
  background-image: url("../images/added/CurvedSky.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;  
}

/* Slider */
.slideshow-container {
  max-height: 400px;
  max-width: auto;
  min-height: 200px;
  position: relative;
}

.my-slides {
  display: none;
}

.my-slides img {
  min-height: 200px;
  width: 100%;
}

.prev, .next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(78, 32, 116, 0.397);
  font-size: 1.7em;
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  width: 15px;
}

.dot-position {
  bottom: 7px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Monthly Features */
.month-container {
  background-color: #e0ebf0;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 75%;
}

.month-main-feature {
  display: grid;
  grid-template-columns: 400px auto;
  margin-top: 90px;
}

.month-main-feature img {
  grid-column: 1;
  padding-bottom: 20px;
  width: 400px;
}

.month-main-summary {
  grid-column: 2;
  padding: 30px 50px 0 0;
}
.month-main-summary p {
  padding-bottom: 50px;
}

.month-sub-feature {
  border: 0.5px solid grey;
  border-radius: 20px;
  margin: 30px 50px;
  padding: 20px;
  max-width: 40%;
  min-height: 400px;
}

.month-sub-feature-box {
  display: flex;
}

.month-sub-feature img {
  border-radius: 50%;
  width: 200px;
}

.month-sub-img {
  align-self: center;
  margin-left: 10px;
}

.month-sub-summary {
  align-self: center;
  grid-column: 2;
  margin: 10px;
  text-align: left;
}

.month-sub-summary h3 {
  text-align: center;
}

/* Services */
.service-container {
  background-image: url("../images/added/Godrays.jpeg");
  background-position: center;
  background-size: cover;
  font-weight: 900;
  overflow: hidden;
  padding: 40px 0;
  width: 100%;
}

.service-div {
  background: rgba(189, 200, 204, .7);
  margin: auto;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 75%;
}

.service-info-div {
  margin: auto;
}

.service-paragraph-container {
  display: inline-block;
  margin: -5px 0;
  max-width: 400px;
  padding-left: 10px;
  text-align: left;
}

.service-grid-container {
  display: grid;
  grid-template-columns: 300px auto;
}

.service-img {
  grid-column: 1;
}

.service-img img {
  margin-left: 30px;
  width: 300px;
}

.service-summary-academy {
  grid-column: 2;
  padding: 20px 60px;
  text-align: left;
}

.service-summary-healing {
  grid-column: 2;
  padding: 60px 60px;
  text-align: left;
}

.wholesale-div {
  margin-top: 30px;
  padding: 10px;
}

/* Blog */
.blog-div {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.blog-content {
  grid-column: 2;
  padding: 20px 10px;
}

.blog-img-left {
  background-image: url("../images/added/Awalk.jpeg");
  background-position: center;
  background-size: cover;
  grid-column: 1;
  height: 300px;
}

.blog-img-right {
  background-image: url("../images/added/Flowermagic.jpeg");
  background-position: center;
  background-size: cover;
  grid-column: 3;
  height: 300px;
}

/* Buttons */
.button {
  background-color: #4e2074;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Forum", sans-serif;
  font-size: 16px;
  padding: 16px 32px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black;
  box-shadow: 0 0 5px grey;
  color: #f6c83a;
}

.button:active {
  box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 768px) {

  /* Slider */
  .my-slides img {
    min-height: 200px;
    width: 100%;
  }

  /* Monthly Features */
  .month-main-feature {
    display: block;
    margin-top: 0;
  }

  .month-main-feature img {
    padding-bottom: 0;
    width: 300px;
  }

  .month-main-summary {
    padding: 0 20px;
  }
  .month-main-summary p {
    padding-bottom: 0;
    text-align: left;
  }  

  .month-sub-feature {
    display: inline-block;
    margin: 30px 0;
    min-width: 75%;
    text-align: center;
  }

  .month-sub-feature-box {
    display: block;
  }

  .month-sub-feature img {
    width: 100px;
  }

  /* Blog */
  .blog-div {
    display: block;
  }
  
  .blog-content {
    padding: 20px 30px;
  }
  
  .blog-img-left {
    height: 0;
    visibility: hidden;
  }
  
  .blog-img-right {
    height: 0;
    visibility: hidden;
  }

  /* Services */
  .service-div {
    padding: 10px 60px;
  }

  .service-info-div {
    margin: auto;
  }

  .service-grid-container {
    display: block;
  }

  .service-img {
    text-align: center;
  }

  .service-img img {
    margin-top: 30px;
    width: 200px;
  }

  .service-summary-academy, .service-summary-healing {
    padding: 0;
  }

  .service-summary-academy h2, .service-summary-healing h2 {
    text-align: center;
  }

}