/* HTML Elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Container */
.container-div {
  background-color: black;
  width: 100%;
}

/* Main Background */
.opening-div {
  background-attachment: fixed;
  background-image: url("../images/added/CurvedSky.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;  
}

/* Content Container */
.healing-container {
  background-color: #e0ebf0;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 75%;
}

/* Temporary Closure Message */
.healing-closed {
  background-color: #ffe7e7;
  border: 2px solid red;
  text-align: center;
  width: 75%;
  margin: 30px auto;
}

.healing-div {
  margin: 0 auto;
  width: 25%;
}

.healing-div img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.p-container {
  display: inline-block;
  max-width: 600px;
  text-align: left;
}

.title-div {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.table-div {
  width: 75%;
  margin: auto;
}

.classyTable {
  text-align: center;
}
.classyTable td {
  vertical-align: top;
  padding: 3%;
}
.tableImg {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.bookeoDiv {
  width: 75%;
  margin: auto;
}

/* Promotions */
.promo-div {
  background-color: #274e80;
  /* background-image: url("../images/added/MarchMHCBackground.jpg"); */
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 100%;
}

.promo-img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 75%;
  overflow: hidden;
  width: 75%;
}