/* HTML Elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Container */
.container-div {
  background-color: black;
  background-image: url("../images/added/CurvedSky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Content Container */
.herbal-container {
  background-color: #e0ebf0;
  margin: auto;
  text-align: center;
  width: 75%;
}

.herbal-container h1 {
  margin: 0;
  padding: 30px;
}

/* Paragraph Container */
.p-container {
  display: inline-block;
  max-width: 600px;
  text-align: left;
}

.p-container h2 {
  text-align: center;
}

.herbal-quote {
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: #d1e5ee;
}

/* Banner Images */
.full-img-1 {
  background-image: url("../images/added/herbs1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
}

.full-img-2 {
  background-image: url("../images/added/herbs2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  width: 100%;
}

/* Classes */
.herbal-class-container {
  background-color: #d1eed3;
  border: 2px solid black;
  display: inline-block;
  margin-top: 20px;
  max-width: 600px;
  padding: 0 20px 10px 20px;
  text-align: left;
}

.herbal-class-container h1 {
  text-align: center;
}

/* Teachers */
.herbal-content-container {
  margin: 0 auto;
  margin-bottom: 20px;
}

.content-bold {
  font-weight: bold;
}

.content-flex {
  display: flex;
}

.content-img {
  display: inline-block;
  max-width: 100%;
  text-align: center;
}

.content-img-container {
  margin: 50px 50px 0 50px;
}

.content-summary {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  text-align: left;
  width: 400px;
}

.content-summary h2 {
  text-align: center;
}