/* HTML Elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Container */
.container-div {
  background-color: black;
  background-image: url("../images/added/CurvedSky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Content Container */
.calendar-container {
  background-color: #e0ebf0;
  margin: auto;
  text-align: center;
  width: 75%;
}

.centerDiv {
  width: 75%;
  margin: auto;
}
.centerText {
  text-align: center;
}
.leftText {
  text-align: left;
}
.topIMG {

}
.fullIMG1 {
  background-image: url("../images/added/herbs1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
.fullIMG2 {
  background-image: url("../images/added/herbs2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}
.programTable {
  width: 100%;
  text-align: center;
}
.programTable td {
  vertical-align: top;
  padding: 3%;
}
.tableIMG {
  max-width:100%;
}