/* HTML Elements */
h1, h2, h3, h4, h5, h6 {
  font-family: "Forum", sans-serif;
}

p {
  font-family: "Gafata", "PT Sans", sans-serif;
}

/* Header */
.banner-image {
  background-image: url("../images/added/Magus_Banner_2.jpg");
  background-position: center;
  background-size: cover;
  grid-column: 2;
  height: 161px;
}

#header {
  display: grid;
  grid-template-columns: 161px auto;
}

#header a {
  height: 161px;
}

.logo-img {
  grid-column: 1;
  max-height: 670px;
  max-width: 161px;
}

/* Navigation Menu */
.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.555);
  display: none;
  position: absolute;
  width: 161px;
}

.dropdown-content a {
  text-decoration: none;
  width: 100%;
}

.nav-center {
  text-align: center;
}

.nav-container {
  background-color: black;
  font-family: "Cinzel Decorative", cursive;
  overflow: hidden;
  width: 100vw;
}

.nav-container a, .dropdown-item {
  color: #f6c83a;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.nav-container a:hover, .dropdown:hover .dropdown-item {
  background-color: #4e2074;
  color: white;
}

.nav-container-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {

  /* Navigation Menu */
  .nav-container {
    display: none;
  }

  .nav-container-mobile a {
    border-top: 1px solid white;
    color: #f6c83a;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
  }

  .nav-container-mobile a:hover {
    background-color: #4e2074;
    color: #f6c83a;
  }

  .nav-container-mobile {
    display: block;
    background-color: black;
    font-family: "Cinzel Decorative", cursive;
    overflow: hidden;
    width: 100vw;
  }
}